main#main section{
   box-sizing: border-box;
   padding-left: 1rem;
   padding-right: 1rem;
   display: grid;
   grid-template-rows: 80px;
   grid-auto-rows: 70px auto;
   align-items: center;
}

section h1 {
    font-size: 2.0rem;
    text-align: center;
}

section div h2 {
    font-size: 1.7rem;
    border-bottom: 1px solid black;
    display: inline;
}
section div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


section div a img {
    height: 30px;
}
section ul {
    display: grid;
    grid-auto-rows: 60px;
    text-align: center;
}

section ul li a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.3rem;
    background-color: #f7c56f;
    border: 1px solid ;
    border-radius: 8px;
    color: black;
}