main#main{
    margin-top: 0px;
}
main#main div#barra-de-informacao {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    /* border: 2px solid black; */
    height: 50px;
    background-color: white;
    top: 70px;
    z-index: 100;
    box-shadow: 0 1px;
}

main#main div#barra-de-informacao a {
    border: 1px solid black;
    height: 30px;
    width: auto;
    margin: auto;
    line-height: 30px;
    text-decoration: none;
    color: black;
    padding-left: 8px;
    padding-right: 8px;
}

main#main section {
    height: auto;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
    grid-template-rows: 80px;
    grid-auto-rows: auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: auto;
    padding-top: 120px;
    display: none;
    padding-bottom: 70px;
}

main#main section.active {
    display: grid;
}

main#main section h1 {
    font-size: 2rem;
}

div.versiculos {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 8px;
    font-size: 1.3rem;
}

div.versiculos p span.versiculo {
    margin-right: 8px;
}